# Core functionality - changes here should be rare!
/src/app.py                   @rharris-spg
/src/backend/database.py      @rharris-spg
/src/backend/routers/auth.py  @rharris-spg

# The frontend will need refactored soon to be more object oriented.
/src/static/   @rharris-spg
